/* aplicando estilo al navegador */

header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;      
}
.nave{
    display: flex;
    list-style-type: none;


    
    li{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;

        & a{
            text-decoration: none;
            color: $colorprincipal;
            margin-inline: 10px;
            background-color: rgb(72, 4, 4);
            border-radius: 50%;
            padding: 10px;
        }
    }
}
.menu_item{
    a{
        &:hover{
            color: $colorsecundario;
            font-size: 30px;
        }
    }
}
.active{
    a{
        color: $colorsecundario;
        text-decoration: underline;
    }
}

/* aplicando estilo al logo */
.logo{
    img{
        padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    
    
        &:hover{
            width: 155px;
            height: 155px;
        }
    }
}

/*animación del navbar con delay*/
.animacion{
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-elliptic-top-fwd {
0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
}
100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
}
}
@keyframes slide-in-elliptic-top-fwd {
0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
}
100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
}
}


/*Aplicando @for al navbar*/

@for $delaybar from 1 through 5{
    .animacion#{$delaybar}{
        animation-delay: $delaybar*0.2s;
    }
}