/* aplicando estilo a la page sobre mi */

.fondo_sobre_mi{
    background-image:url(../multimedia/Img/img\ footer\ elementos.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.estilo_section{
    margin: 20px;
    margin-block: 40px;
}

/******** aplicando grid a la page sobre mi ******/
.sobre_mi{
    margin: 20px;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 400px auto;
    grid-gap: 20px;
    grid-template-areas: 
    "titulo             titulo       titulo"
    "img1               texto        img2"
    "tituloMuestra      video        img3";
}


.titulo_sobre_mi{
    grid-area: titulo;
    font-size: 50px;
    text-align: center;
    background-color: $colorprincipal;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-inline: 10px;
}

.biografia{
    grid-area: texto;
    width: 600px;
    height: 100%;
    overflow-y: scroll;
    
    border: 5px double salmon;
    background-color: rgba(223, 223, 193, 0.466);
    margin-inline: 20px;
}

.video_muestra {
    display:contents;
        
}

.titulo_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: tituloMuestra;
    margin-top: 50px;
    margin-left: 20px;
    background-color: rgba(218, 165, 32, 0.442);
    height: 100px;
    
}

.video_sobre_mi{
    grid-area: video;
    margin-top: map-get($tamaño, tamaño3);
    margin-left: 40px;
    height: 300px;
    width: 450px;
    
}

.img1_sobremi{
    grid-area: img1;
    height: 300px;
    width: 350px;
    margin-inline: 20px;
}

.img2_sobremi{
    grid-area: img2;
    height: 300px;
    width: 350px;
    margin-inline: 20px;

}
.img3_sobremi{
    grid-area: img3;
    height: 300px;
    width: 350px;
    margin-top: 40px;
    margin-inline: map-get($tamaño, tamaño1);

}


