/*** aplicando estilo a la page contacto ***/
.contacto{
    margin: 40px;
}

.fondo_contacto{
    background-image: url(../multimedia/Img/mezcla-arcilla\ utencillos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titulo_contacto {
    padding-top: 50px;

    background-color: $colorprincipal;
    border-radius: 80%;
    padding: 2px;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.cuadros{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.cuadro_consulta{
    padding-left: 20px;
    margin-top: 50px;
    height: 390px;
    width: 450px;

}
.consulta{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration:underline;
    font-size: 30px;    
}


.flex_contacto{
    display: flex;
    justify-content: space-around;
}
.flex_contactobutton{
    display: flex;
    justify-content: space-evenly;
}
.boton_contacto{
    margin: 10px;
    padding: 3px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 20px;
}


/* aplicando estilo a la ubicación y mapa de la page contacto */
.ubicacion{
    margin-top: 20px;
    padding-left: 100px;
    margin-bottom: 10px; 
    font-size: 40px;
    color: azure;
    
}

.mapa{
    padding-left: 20px;
    margin-bottom: 50px;
    width: 600px;
    height: 450px;
}

.deco-mapa{
    width: 650px;
}


/*aplicando @each a contacto*/
@each $content, $color in $fondo{
    .deco-#{$content} {
        background-color: $color;
    }
}
