/*** aplicando estilo a la page contacto ***/
.contacto{
    margin: 40px;
}

.fondo_contacto{
    background-image: url(../multimedia/Img/mezcla-arcilla\ utencillos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titulo_contacto {
    padding-top: 50px;

    background-color: $colorprincipal;
    border-radius: 80%;
    padding: 2px;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.cuadro_consulta{
    
    height: 350px;
    width: 400px;
    
}
.consulta{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration:underline;
}


/* aplicando estilo a la ubicación y mapa de la page contacto */
.ubicacion{
    margin-top: 80px;
    padding-left: 200px;
    margin-bottom: 10px;  
}
.deco-mapa{
    width: 650px;
}
.mapa{
    padding-left: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 450px;
}

/*aplicando @each a contacto*/
@each $content, $color in $fondo{
    .deco-#{$content} {
        background-color: $color;
    }
}