@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&family=Unbounded:wght@200;300;400&display=swap');

$fontprincipal: 'Unbounded', cursive;

$colorprincipal: goldenrod;
$colorsecundario: white;